body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

h1 {
    background-color: #3e3e39;
    color: white;
    padding: 20px 0;
    margin: 0;
}

#task-container {
    margin: 20px auto;
    padding: 10px;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.task-checkbox {
    margin-right: 10px;
    padding: 20px;
    width: 23px;
    height: 23px;
    accent-color: #101010; /* modern browsers */
    cursor: pointer;
    outline: none;
    color: #2b2a2a;
    border-color: #101010;
}

.task-text {
    flex-grow: 1;
    text-align: left;
    margin-left: 4px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#new-task {
    margin: 20px 0;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #3e3e39;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}